/* Styles HOME */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.home {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

.container-products ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
}

.container-products li {
    flex: 1 1 calc(33.333% - 32px); 
    border: 1px solid #ccc;
    padding: 16px;
    margin: 10px 0;
    box-sizing: border-box;
    max-width: calc(33.333% - 32px);
}

.container-products h2 {
    margin: 0;
}

.container-products p {
    margin: 8px 0;
}

/* Styles for RealTimeProducts */
.products-container-rtp {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.products-container-rtp > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 20px);
    max-width: 300px;
    text-align: center;
}

.products-container-rtp h2 {
    font-size: 1.25rem;
    color: #333;
}

.products-container-rtp p {
    margin: 8px 0;
}

.products-container-rtp button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.products-container-rtp button:hover {
    background-color: #c0392b;
}

/* Styles for forms in the events section */
.formulario-add, .formulario-update, .formulario-delete {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
